In [1]:
'' or 0 or 90

90

In [2]:
'' or 0

0

In [3]:
a = 5

In [4]:
print(id(5))

4320954432

In [5]:
t = 'hello'

In [6]:
id(t)

4356309152

In [7]:
a = 5

In [8]:
print(id(a))

4320954432

In [9]:
b = 5

In [10]:
print(id(b))

4320954432

In [11]:
mystring = 'hehlo'

In [12]:
print(id(mystring))

4358862136

In [13]:
print(id(mystring[2:15]))

4358862808

In [14]:
t = 'hello'

In [15]:
t[0] = 'j'

TypeError: 'str' object does not support item assignment

In [18]:
print(id(t))

4356309152

In [20]:
id('j' + 'hello'[1:])

4359349840

In [21]:
x = 5
y = 5
z = 10

In [22]:
x == y

True

In [23]:
id(x)

4320954432

In [24]:
id(y)

4320954432

In [25]:
id(z)

4320954592

In [26]:
x is y

True

In [27]:
a = 48938948398
b = 48938948398

In [28]:
print(a, b)

48938948398 48938948398

In [29]:
a == b

True

In [30]:
a is b

False

In [31]:
id(a)

4358894544

In [32]:
id(b)

4358894928

In [33]:
if 10>5:
    print('first if')
    print('wpw')
    if True:
        print('second')
        if True:
            print('third')

first if
second
third

In [34]:
if False:
    print('true')
else:
    print('else')

else

In [36]:
if 5<3:
    print('5<3')
elif 5 < 5:
    print('5 < 5')
elif 5 > 10:
    print('5 > 10')
else:
    print('all cases')

all cases

In [37]:
elif True:
    print('wow')

SyntaxError: invalid syntax (<ipython-input-37-78bd21a6051e>, line 1)

In [38]:
x = 5 if 20< 10 else 'hello'

In [39]:
print(x)

hello

In [40]:
if 20< 10:
    x  = 5
else:
    x = 'hello'

In [45]:
y = 10
while y < 20:
    y += 1
    print('hello' , y)
    #if y == 15:
     #   break
else:
    print('else of while')

hello 11
hello 12
hello 13
hello 14
hello 15
hello 16
hello 17
hello 18
hello 19
hello 20
else of while

In [46]:
while True:
    print('hello')
    break

hello

In [47]:
for i in 'hello':
    print(i)

h
e
l
l
o

In [48]:
for i in 'olleh':
    print(i)

o
l
l
e
h

In [49]:
for i in range(5):
    print(i)

0
1
2
3
4

In [50]:
for i in range(5,10):
    print(i)

5
6
7
8
9

In [51]:
for i in range(2,10, 2):
    print(i)

2
4
6
8

In [52]:
'hello' 'python'

'hellopython'

In [53]:
t = ('fkdjsklfjkdskjkfjdlksjklfjkdjslkfj'
'jfkldjskfjkdsjkfjk'
'jfkdjslkfj')

In [54]:
print(t)

fkdjsklfjkdskjkfjdlksjklfjkdjslkfjjfkldjskfjkdsjkfjkjfkdjslkfj

In [55]:
t = input('Enter the name')

Enter the namehimank

In [56]:
print(t)

himank

In [57]:
t = input('Enter a  number')

Enter a  number100

In [58]:
type(t)

str