In [1]:
t = 3,4

In [2]:
print(t)

(3, 4)

In [3]:
type(t)

tuple

In [4]:
t = [2,3,4]

In [5]:
type(t)

list

# Sets

In [6]:
myset = set()

In [7]:
type(myset)

set

In [9]:
print(myset)

set()

In [10]:
fruits = {'apple' , 'orange', 'apple' , 'pear', 'banan'}

In [11]:
type(fruits)

set

In [12]:
print(fruits)

{'banan', 'apple', 'orange', 'pear'}

In [13]:
unique = set('fjklsdjfkjksjfkjdksjkl')

In [14]:
print(unique)

{'l', 'j', 'd', 's', 'f', 'k'}

In [15]:
'orange' in fruits

True

In [16]:
'kiwi' in fruits

False

In [17]:
alpha = set('hellobello')
beta = set('pythonkython')

In [18]:
print(alpha)
print(beta)

{'l', 'b', 'o', 'e', 'h'}
{'n', 'o', 't', 'p', 'y', 'h', 'k'}

In [19]:
alpha - beta

{'b', 'e', 'l'}

In [20]:
alpha | beta

{'b', 'e', 'h', 'k', 'l', 'n', 'o', 'p', 't', 'y'}

In [21]:
alpha & beta

{'h', 'o'}

In [22]:
alpha ^ beta

{'b', 'e', 'k', 'l', 'n', 'p', 't', 'y'}

In [23]:
gama = {1,2,3,4,5}
eta = {2,3,'hello', 'python'}

In [24]:
print(gama, eta, sep='\n')

{1, 2, 3, 4, 5}
{2, 3, 'python', 'hello'}

In [25]:
gama.add(10)

In [26]:
print(gama)

{1, 2, 3, 4, 5, 10}

In [27]:
gama.difference(eta)

{1, 4, 5, 10}

In [28]:
gama.intersection(eta)

{2, 3}

In [29]:
gama.discard(4)

In [30]:
print(gama)

{1, 2, 3, 5, 10}

In [31]:
gama.union(eta)

{1, 10, 2, 3, 5, 'hello', 'python'}

In [32]:
gama.isdisjoint(eta)

False

In [33]:
gama.issubset(eta)

False

In [34]:
gama.issuperset(eta)

False

# Sequences

In [35]:
45 in [1,2,3,4,5,45]

True

In [37]:
5 in range(1,10)

True

In [38]:
5 not in range(1,10)

False

In [39]:
'5' in '23145'

True

In [40]:
[2,3,4,5]  + [56]

[2, 3, 4, 5, 56]

In [41]:
'hello' + 'python'

'hellopython'

In [42]:
range(0,5) + range(5,10)

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [43]:
(1,2,3) + ('hell',)

(1, 2, 3, 'hell')

In [44]:
mylist = [2,3,4,5]
mystring = 'hello python'
myrange = range(5)
mytuple = (2,3,4,5)

In [45]:
mylist[2]

4

In [46]:
'hello'[2]

'l'

In [47]:
myrange[3]

3

In [48]:
mytuple[2]

4

In [49]:
'hello'[1:2]

'e'

In [50]:
myrange[2:3]

range(2, 3)

In [51]:
len(myrange)

5

In [53]:
len(mytuple)

4

In [54]:
len(mylist)

4

In [55]:
min(myrange)

0

In [56]:
max(myrange)

4

In [57]:
myrange.index(3)

3

In [58]:
mytuple.index(2)

0

In [59]:
myrange.count(2)

1

In [60]:
mylist.count(1)

0

# lambda functions

In [61]:
# Don't do this.
t = lambda  x:x**2

In [62]:
type(t)

function

In [63]:
t(5)

25

In [64]:
list(map(lambda x:x**2 , [1,2,3,4,5,6]))

[1, 4, 9, 16, 25, 36]

In [65]:
list(filter(lambda x:x>0, [1,-2,3,-5,-2,4,-2]))

[1, 3, 4]

# Dictionary

In [66]:
mydictionary = {}

In [67]:
type(mydictionary)

dict

In [68]:
print(mydictionary)

{}

In [69]:
mydictionary = {'apples': 5 , 'orange': 10}

In [70]:
print(mydictionary)

{'apples': 5, 'orange': 10}

In [71]:
mydictionary.get('apples')

5

In [72]:
'apples' in mydictionary

True

In [73]:
print(mydictionary.get('kiwi'))

None

In [74]:
mydictionary.items()

dict_items([('apples', 5), ('orange', 10)])

In [75]:
mydictionary.keys()

dict_keys(['apples', 'orange'])

In [76]:
mydictionary.values()

dict_values([5, 10])

In [77]:
mydictionary.popitem()

('orange', 10)

In [78]:
dict([('jack' , 4) , ('jill', 10) , ('hill', 10)])

{'jack': 4, 'jill': 10, 'hill': 10}

In [79]:
def return_more():
    return 2,3,'hello',7.9,[1,2,3,4]

In [81]:
a, b , c , d , e= return_more()

In [82]:
print(a , b, c, d, e)

2 3 hello 7.9 [1, 2, 3, 4]

In [83]:
type(return_more())

tuple

In [84]:
def create_tuple(n):
    return (n,)

In [86]:
create_tuple('hello')   + create_tuple(4)

('hello', 4)

In [87]:
mydictionary = {}
mydictionary['key'] = 'hello'

In [88]:
print(mydictionary)

{'key': 'hello'}

In [91]:
'hello python wow'.split('p')

['hello ', 'ython wow']

In [92]:
'=='.join(['hello', 'python', 'wow'])

'hello==python==wow'

In [95]:
mylist = ['hello', 'python' ,'wow']

In [96]:
for i in mylist:
    print(i)

hello
python
wow

In [98]:
for j in range(len(mylist)):
    print(j , mylist[j])

0 hello
1 python
2 wow

In [99]:
for index, value in enumerate(mylist):
    print(index, value)

0 hello
1 python
2 wow

In [100]:
for i in range(len(mylist)):
    print(mylist[len(mylist) - i - 1])

wow
python
hello

In [103]:
for i in range(len(mylist) -1 , -1, -1):
    print(mylist[i])

wow
python
hello

In [104]:
for i in reversed(mylist):
    print(i)

wow
python
hello

In [105]:
print(mylist)

['hello', 'python', 'wow']

In [106]:
for i in reversed(range(1,10,2)):
    print(i)

9
7
5
3
1

In [107]:
email_dict = {'arun': 'arun@gmail.com' , 'rob': 'rob@gmail.com'}

In [108]:
for key , value in email_dict.items():
    print(key, value)

arun arun@gmail.com
rob rob@gmail.com

In [109]:
basket = ['apples', 'orange' , 'apples', 'pear', 'orange', 'banana']

In [113]:
for i in  reversed(sorted(set(basket))):
    print(i)

pear
orange
banana
apples